parameters:
	ignoreErrors:
		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 2
			path: src/Composer/Command/AuditChangesCommand.php

		-
			message: "#^Cannot access offset 'alias' on mixed\\.$#"
			count: 1
			path: src/Composer/Command/AuditChangesCommand.php

		-
			message: "#^Cannot access offset 'alias_normalized' on mixed\\.$#"
			count: 1
			path: src/Composer/Command/AuditChangesCommand.php

		-
			message: "#^Cannot access offset 'aliases' on mixed\\.$#"
			count: 2
			path: src/Composer/Command/AuditChangesCommand.php

		-
			message: "#^Cannot access offset 'name' on mixed\\.$#"
			count: 1
			path: src/Composer/Command/AuditChangesCommand.php

		-
			message: "#^Cannot access offset 'package' on mixed\\.$#"
			count: 2
			path: src/Composer/Command/AuditChangesCommand.php

		-
			message: "#^Cannot access offset 'packages' on mixed\\.$#"
			count: 1
			path: src/Composer/Command/AuditChangesCommand.php

		-
			message: "#^Cannot access offset 'packages\\-dev' on mixed\\.$#"
			count: 2
			path: src/Composer/Command/AuditChangesCommand.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 1
			path: src/Composer/Command/AuditChangesCommand.php

		-
			message: "#^Parameter \\#1 \\$aliasOf of class Composer\\\\Package\\\\CompleteAliasPackage constructor expects Composer\\\\Package\\\\CompletePackage, Composer\\\\Package\\\\CompleteAliasPackage\\|Composer\\\\Package\\\\CompletePackage given\\.$#"
			count: 1
			path: src/Composer/Command/AuditChangesCommand.php

		-
			message: "#^Parameter \\#1 \\$config of method Composer\\\\Package\\\\Loader\\\\ArrayLoader\\:\\:load\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Composer/Command/AuditChangesCommand.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$arrays of function array_merge expects array, mixed given\\.$#"
			count: 1
			path: src/Composer/Command/AuditChangesCommand.php

		-
			message: "#^Parameter \\#2 \\$version of class Composer\\\\Package\\\\CompleteAliasPackage constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Composer/Command/AuditChangesCommand.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$arrays of function array_merge expects array, mixed given\\.$#"
			count: 1
			path: src/Composer/Command/AuditChangesCommand.php

		-
			message: "#^Parameter \\#3 \\$prettyVersion of class Composer\\\\Package\\\\CompleteAliasPackage constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Composer/Command/AuditChangesCommand.php
